

#divTipoContrato{
    display: none;
}
#divContrato{
    display: none;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: background;
    color: #000;
    font-size: 12px;
    font-weight: normal;
    
    position: absolute;
    padding: 3px 20px;
    bottom: 4em;
    left: 50%;
    white-space: normal;
    box-shadow: 5px 5px 3px #222222;
    opacity: 0;
    border: 0px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 0px;
    
}
[data-title] {
    position: relative;
}