<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>registro</servlet-name>
        <servlet-class>Controlador.Guarda_organo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>muestraRegistro</servlet-name>
        <servlet-class>Controlador.tablaOrgano</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guarda_generales</servlet-name>
        <servlet-class>Controlador.Guarda_generales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaOrgano</servlet-name>
        <servlet-class>Controlador.BuscaOrgano</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardaProcedimiento</servlet-name>
        <servlet-class>Controlador.GuardaProcedimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardaActor</servlet-name>
        <servlet-class>Controlador.GuardaActor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenExpedientes</servlet-name>
        <servlet-class>ObtenExpedientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardaDemandado</servlet-name>
        <servlet-class>Controlador.GuardaDemandado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenExpedientes2</servlet-name>
        <servlet-class>ObtenExpedientes2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardaAudiencia</servlet-name>
        <servlet-class>Controlador.GuardaAudiencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenExpediente3</servlet-name>
        <servlet-class>ObtenExpediente3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenValoresBusqueda</servlet-name>
        <servlet-class>ObtenValoresBusqueda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>muestraRegistro</servlet-name>
        <url-pattern>/muestraRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guarda_generales</servlet-name>
        <url-pattern>/Guarda_generales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaOrgano</servlet-name>
        <url-pattern>/BuscaOrgano</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardaProcedimiento</servlet-name>
        <url-pattern>/GuardaProcedimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardaActor</servlet-name>
        <url-pattern>/GuardaActor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenExpedientes</servlet-name>
        <url-pattern>/ObtenExpedientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardaDemandado</servlet-name>
        <url-pattern>/GuardaDemandado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenExpedientes2</servlet-name>
        <url-pattern>/ObtenExpedientes2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardaAudiencia</servlet-name>
        <url-pattern>/GuardaAudiencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenExpediente3</servlet-name>
        <url-pattern>/ObtenExpediente3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenValoresBusqueda</servlet-name>
        <url-pattern>/ObtenValoresBusqueda</url-pattern>
    </servlet-mapping>
</web-app>
